@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-white font-sans;
  background-color: #030014; /* Pastikan ini hitam pekat */
  overflow-x: hidden;
}

/* Scrollbar Premium */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #030014;
}
::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 10px;
}

@layer utilities {
  .section-padding {
    @apply py-16 px-6 md:py-24 md:px-12; 
  }
}